header {
background-color: #ecd5fd;
}

h2 {
    background-color:gainsboro;
    color:crimson;
    text-align: center;
}

h3 {
    background-color:gainsboro;
    color:crimson;
    text-align: center;
}


